{% extends "layout/base.html" %}
{% load static %}

{% block title %}Yuhi's Netdisk{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
    <div class="ui menu">
        {% if parent_object and parent_object.parent %}
            <a class="item" href="{% url 'home' %}?folder={{ parent_object.parent.id }}">
                <i class="angle double left icon"></i>
            </a>
        {% else %}
            <a class="item" href="{% url 'home' %}">
                <i class="angle double left icon"></i>
            </a>
        {% endif %}
        <a class="item" href="{% url 'home' %}"><i class="home icon"></i></a>
        {% for item in path %}
            <a class="item" href="{% url 'home' %}?folder={{ item.id }}">{{ item.name }}</a>
        {% endfor %}
        <div class="right menu">
            <a class="item upload"><i class="cloud upload icon"></i>上传文件</a>
            <a class="item mkdir"><i class="plus circle icon"></i>新建目录</a>
        </div>
    </div>

    <table class="ui fixed table">
        <thead>
        <tr>
            <th>文件名</th>
            <th>大小</th>
            <th>修改时间</th>
            <th>所有者</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for item in file_list %}
            <tr>
                <td>
                    <a href="{% url 'home' %}?folder={{ item.id }}">
                        {% if item.file_type == 2 %}
                            <i class="folder icon"></i>
                        {% else %}
                            <i class="file alternate icon"></i>
                        {% endif %}
                        {{ item.name }}
                    </a>
                </td>
                <td>
                    {% if item.file_type == 1 %}
                        {{ item.file_size }}
                    {% else %}
                        -------
                    {% endif %}
                </td>
                <td>{{ item.update_datetime }}</td>
                <td>{{ item.update_user }}</td>
                <td>
                    {% if item.file_type == 1 %}
                        <a style="cursor:pointer;"><i class="cloud download icon"></i></a>
                    {% else %}
                        <a class="item renamedir" id="find-fid" data-fname="{{ item.name }}" data-fid="{{ item.id }}" style="cursor:pointer;"><i class="edit icon"></i></a>
                    {% endif %}
                    <a style="cursor:pointer;"><i class="trash alternate icon"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

 <!-- 新建文件夹 -->
    <div class="ui mini modal mkdir">
        <div class="header">
            新建目录
        </div>
        <div class="content">
            <form class="ui form" id="mkdir_form">
                {% csrf_token %}
                <input type="text" name="zanwei" style="display: none" value="" />
                <!-- 多设置一个隐藏的input防止回车自动提交表单 -->
                {% for field in dir_form %}
                    <div class="field">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="actions">
                    <button type="button" class="ui black deny left button">取消</button>
                    <button type="button" id="bth_mkdir_form_submit" class="ui green right button"
                            style="float:right;">确认
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- 重命名文件夹 -->
    <div class="ui mini modal rndir">
        <div class="header">
            重命名
        </div>
        <div class="content">
            <form class="ui form" id="rndir_form">
                {% csrf_token %}
                <input type="text" name="fid" id="fid" style="display: none" value="" />
                {% for field in dir_form %}
                    <div class="field">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="actions">
                    <button type="button" class="ui black deny left button">取消</button>
                    <button type="button" id="bth_rndir_form_submit" class="ui green right button"
                            style="float:right;">确认
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- 删除文件（夹） -->

    <!-- 下载文件 -->



{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript">
        // mkdir modal
        $('.item.mkdir').on('click', function () {
            $('.ui.mini.modal.mkdir').modal('show');
            $('#mkdir_form')[0].reset();  // 清空
            $('#mkdir_form input[id=id_name]')[0].autocomplete='off';  // 不显示历史
        });
        // upload file modal

        // rmdir modal

        // rndir modal
        $('.item.renamedir').on('click', function () {
            // 先取得当前重命名的文件夹的id（已经预存在对应文件夹的重命名按钮上）
            fid_value = $(this).data('fid'); // 全局变量，获取该对象的data-fid值
            fname = $(this).data('fname'); // 获得原文件夹名
            // 把fid_value赋值给隐藏的input的value，在提交表单POST时传给后台
            $('#fid').val(fid_value);
            $('.ui.mini.modal.rndir').modal('show');
            $('#rndir_form input[id=id_name]')[0].autocomplete='off';  // 不显示历史
            // 将fname写到输出框上，注意本页面有多个表单，不能直接直接通过input框的id="id_name"查找
            $('#rndir_form input[id=id_name]')[0].value = fname;
        });
        // mkdir submit
        $('#bth_mkdir_form_submit').on('click', function () {
            formPost('#mkdir_form');
        });
        // rndir submit
        $('#bth_rndir_form_submit').on('click', function () {
            formPost('#rndir_form');
        });
        function formPost(form_id) {
            $.ajax({
                url: location.href,
                type: 'POST',
                data: $(form_id).serialize(),
                dataType: 'JSON',
                success: function (res) {
                    if (res.status) {
                        location.href = location.href;
                    } else {
                        console.log(res);
                    }
                }
            });
        }
    </script>
{% endblock %}
