html, body {
    height: 100%;
}

.wrapper {
    position: relative;
    min-height: 100%;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.footer {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 50px;
}

a {
    color: black;
}
